package deitylib

import (
	"github.com/google/uuid"
)

func create{{ .Name }}Deities() {
	{{ .LowerName }}Deities := map[string]map[string]interface{}{
		"NAME": {
			"Religion": "{{ .Name }}",
			"Sex":      "SEX",
			"Oversight": []string{
				"THING",
			},
		},
	}

	for k, v := range {{ .LowerName }}Deities {
		id := uuid.New().String()
		DS = DS.NewDiety(id, k, v["Religion"].(string), v["Sex"].(string), v["Oversight"].([]string))
	}
}
